*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-family: 'Isocpeur', sans-serif;
}

body{
    width:100%;
    height:100vh;
    /*background image https://images.nasa.gov/details-hubble-sees-a-legion-of-galaxies_25608651281_o;
    /*background-color: rgb(6, 0, 65); */
    background-color:black;
    background-image:url("./images/crabneb_op75.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height:100%;
}
/*Highlight select*/
::selection {
    background: rgba(255, 24, 139, 0.5); /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: rgba(255, 24, 139, 0.5); /* Gecko Browsers */
}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3F2E8E;
}

/* Directional buttons 
::-webkit-scrollbar-button{
}*/

.pimg1{
    position:relative;
    opacity:0;    
    background-image:url("../images/crabneb_op75.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height:100%;
}

/*navbar*/
nav li{
    display:inline-block;
    padding:10px;
}
nav ul > li > a{
    color: #fff;
    text-decoration: none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:9px;
    padding-right:2px;
    
}
.navlink{
    border:0.5px solid #fff;
    background:rgba(0, 0, 0, 0.5);
    animation: nav_fill 2.5s linear forwards;
}
.navlink:hover{
    background:rgba(255, 255, 255, 0.25);
    color:white;
}
.soclink:hover{
    color:rgba(255, 255, 255, 0.5);
}
nav{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    letter-spacing:9px;
}


/*AYSHA RAHMAN svg animation*/ 
.fullname{
}
#name{
    position:relative;
    top:-60vh;
    left:49.5%;
    transform:translate(-50%,-50%);
}

.last{
    fill:rgba(255, 255, 255, 0);
    animation: stroke_fill 1.5s linear forwards;
    /*animation: fill 2s ease forwards 3.5s;*/
}

.first:nth-child(1){
    stroke-dasharray: 147px;
    stroke-dashoffset: 147px;
    animation:line-anim 1.5s ease forwards 0s;
}
.first:nth-child(2){
    stroke-dasharray: 154px;
    stroke-dashoffset: 154px;
    animation:line-anim 1.5s ease forwards 0.3s;
}
.first:nth-child(3){
    stroke-dasharray: 196px;
    stroke-dashoffset: 196px;
    animation:line-anim 1.5s ease forwards 0.6s;
}
.first:nth-child(4){
    stroke-dasharray: 225px;
    stroke-dashoffset: 225px;
    animation:line-anim 1.5s ease forwards 0.9s;
}
.first:nth-child(5){
    stroke-dasharray: 147px;
    stroke-dashoffset: 147px;
    animation:line-anim 1.5s ease forwards 1.2s;
}

/*last name*/
.last:nth-child(6){
    stroke-dasharray: 174px;
    stroke-dashoffset: 174px;
    /*animation-delay: 1.5s;
    /*animation:line-anim 1s ease forwards;*/
}
.last:nth-child(7){
    stroke-dasharray: 147px;
    stroke-dashoffset: 147px;
    /*animation-delay: 1.8s;*/
    animation-delay: 0.3s;
    /*animation:line-anim 1s ease forwards 0.3s;*/
}
.last:nth-child(8){
    stroke-dasharray: 225px;
    stroke-dashoffset: 225px;
    /*animation-delay: 2.1s;*/
    animation-delay:0.6s;
    /*animation:line-anim 1s ease forwards 0.6s;*/
}
.last:nth-child(9){
    stroke-dasharray: 261px;
    stroke-dashoffset: 261px;
    /*animation-delay: 2.4s;*/
    animation-delay: 0.9s;
    /*animation:line-anim 1s ease forwards 0.9s;*/
}
.last:nth-child(10){
    stroke-dasharray: 147px;
    stroke-dashoffset: 147px;
    /*animation-delay: 2.7s;*/
    animation-delay:1.2s;
    /*animation:line-anim 1s ease forwards 1.2s;*/
}
.last:nth-child(11){
    stroke-dasharray: 254px;
    stroke-dashoffset: 254px;
    /*animation-delay: 3.0s;*/
    animation-delay:1.5s;
    /*animation:line-anim 1s ease forwards 1.5s;*/
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
/*@keyframes fill{
    to{
        fill:white;
    }
}*/
@keyframes stroke_fill {
    0% {
        fill:rgba(255, 255, 255, 0);
    }
    50% {
        fill: rgba(255, 255, 255, 0);
        stroke-dashoffset: 0;
    }
    100% {
        fill: rgba(255, 255, 255, 0.75);
        stroke-dashoffset: 0;
    }
}
@keyframes nav_fill {
    0% {
        background-color:rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0);
        stroke-dashoffset: 0;
    }
}

.section{
    position:relative;
    top:-100vh;
    bottom:-100vh;
    color:white;
    background:rgba(0, 0, 0, 0.5);
    padding:50px;
    text-align:center;
}
.space{
    position:relative;
    top:-100vh;
    bottom:-100vh;
    min-height: 50vh;
    color:white;
    background:rgba(0, 0, 0, 0);
}
.subhead{
    text-align:center;
    color:white;
    text-transform:uppercase;
}
.title{
    text-align:center;
}
a{
    color:white;
    text-decoration:none;
}
p{
    text-align:left;
}

/*Project*/
.projects{
    padding: 10px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.project{
    max-width:300px;
    min-width:250px;
    width:45%;
    box-sizing:border-box;
    position:relative;
    display:inline-block;
    text-align:center;
    padding:10px;
    margin:10px;
    height: 150px;
}
.project_screenshot{
    width:100%;
    padding:15px;
}
.more{
    text-align:center;
    padding:20px;
    margin-top:10px;
}
.button{
    border:0.5px solid #fff;
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    padding:5px;
    text-align:center;
}
.button:hover{
    background-color:rgba(255, 255, 255, 0.25);
    color:white;
}

/*https://ctrlq.org/code/20083-modal-popup-css*/
.modal-window {
    position: fixed;
    background-color: rgba(46, 46, 46, 0.5);
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y:auto;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 70vw;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background:rgba(0, 0, 0, 0.75);
    color:white;
}

/*Modal scrollbar*/
/* width */
.modal-window::-webkit-scrollbar {
    width: 12px;
}
  
/* Track */
.modal-window::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
.modal-window::-webkit-scrollbar-thumb {
    background: rgba(255, 24, 139, 0.5);
}

/* Handle on hover */
.modal-window::-webkit-scrollbar-thumb:hover {
    background: #3F2E8E;
}


.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: rgb(255, 255, 255);
    line-height: 50px;
    font-size: 115%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: rgba(255, 24, 139, 0.5);
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal_content{
    display:inline-block;
    text-align:center;
    margin:auto:
}
.project_snapshot{
    max-width:300px;
    min-width:250px;
    outline:1px solid rgb(122, 122, 122);
}
.modal_buttons{
    padding:10px;
}


/*Resume
.resume{
    font-size:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    border:0.5px solid #fff;
    background:rgba(255, 255, 255, 0.5);
}
#resume{
    text-align:center;
}
.pdf{
    height:100%;
    width:100%;
}*/
/*Font*/
@font-face {
    font-family: "Isocpeur";
    src: url("./fonts/isocpeur/ISOCPEUR.eot");
    src:
    url("./fonts/isocpeur/ISOCPEUR.woff") format("woff"),
    url("./fonts/isocpeur/isocpeur.ttf") format("opentype"),
    url("./fonts/isocpeur/ISOCPEUR.svg") format("svg");
}
/*Responsive*/
@media(max-width:768px){
    #name{
        width:100vw;
    }
    .modal-window{
        width:100vw;
    }
    .modal-content{
        width:100%;
        margin:auto;
    }
    .project_snapshot{ 
        width:35vw;
        margin:auto;
    }
}
@media(max-height:400px){
    #name{
        padding:15px;
    }
}